/*******************
BODY STYLING
*******************/
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-decoration: none;
	background: #49B938;
	color: #fff;
	overflow-x: hidden;
}
#wrapper_r {
	width: 300px;
	height: 400px;
	margin: 50px auto 0 auto;
}
/*******************
LOGIN FORM
*******************/
.emblem{
	width: 120px;
	height: 70px;
	position: absolute;
	top: 10px;
	left: 149px;
	z-index: 1;
}
.aligator{
	z-index: 3;
	margin: 0;
	padding:0;
	color: green;
	margin-bottom: 20px;
	display: block;
	font-size: 38px;
	font-weight: 500;
	letter-spacing: -3px;
	font-stretch:  ultra-condensed;
	text-shadow: 1px 1px 1px rgba(250,89,45,0.3);
}
#plus{
	text-shadow: 1px 1px 1px rgba(50,89,45,7.0);
	font-size: 32px;
	font-weight: 800;
	position: absolute;
	z-index: 2;
	top: 35px;
	left: 145px;
}
.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}
/*******************
HEADER
*******************/
.login-form .header_r {
	padding: 30px 30px 0px 30px;
}

.login-form h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	color: #fff;
	/*text-shadow: 1px 1px 0 rgba(256,256,256,1.0);*/
	margin: 10px auto 5px auto;
}

.login-form span {
	position: absolute;
	max-width: 242px;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
}
.login-form .form_help_message {
	font-size: 13px;
	font-style: italic;
}

.loading_bar {
	position: absolute;
	top: 10px;
	right: 30px;

	visibility: hidden;
}
.content_login .loading_bar {
	top: -25px;
}
/*******************
CONTENT
*******************/
*:focus {outline: none;}
.login-input {
  font-size: 18px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1C4B14;
  /*border-bottom: 2px solid #87c2f0;*/
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
/**************************bottom login */
.content_r, .content_login {
	position: absolute;
	padding: 0 30px 5px 30px;

	transition: .5s ease; 
}
.content_login {
	margin-top: 50px;
}
.content_r {
	transform: translateX(100vw);
}

/* Input field */
.login-form .input {
	width: 188px;
	padding: 8px 25px;
	margin: 6px auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #1C4B14;
	/*background: rgba(255,255,255,0.5);*/
	border: 2px solid rgba(255,255,255,0.0);
	border-radius: 5px;
	background: rgba(255,255,255,0.3);
}
.content_login h1 {
	margin-top: -20px;
}
.content_login .input {
	margin-top: 10px;
}
.content_login .email {
	margin-top: 80px;
}
.content_r .username {
	margin-top: 40px;
}


/* Second input field */

.login-form .input:hover {
	background: rgba(255,255,255,0.7);
	color: #fff;
}
.login-form .content_r .input:focus {
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}
.login-form .input:focus {
	background: #fff;
	color: #414848;
}
 /*placeholder*/

 :-moz-placeholder {
	color: #83BD79;
 }
::-webkit-input-placeholder {
 color: #83BD79;
 }

/* Animation */


/*******************
FOOTER
*******************/

.login-form .footer_r {
	padding: 15px 30px 25px 30px;
	margin-top: 300px;
	overflow: auto;
}
/* Login button */
.login-form .footer_r button {
	width: 45%;
	padding: 11px 25px;
	margin: 10px 5px;
	font-family: 'Bree Serif', serif;
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	border: 1px solid #338527;
	border-radius: 6px;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px rgba(256,256,256,0.5);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.5);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.5);
}
/* Register button */
.login-form .footer_r .button {
	float: right;
	background: #4aae3b;
}
.login-form .footer_r .button:hover {
	background: #3CA22D;
	border: 1px solid rgba(256,256,256,0.75);
}
.login-form .footer_r .active {
	background: #C7CA20;
}
.login-form .footer_r .active:hover {
	background: #D7DA30;
}


/***************************************************************************************************/


.login-form .input:required{
	background: rgba(255,255,255,0.5);
}
.login-form .input:required:hover{
	background: rgba(255,255,255,0.8);
}
.login-form .content_r .input:required:valid:required:valid {
	background: rgba(255,255,255,0.5);
	box-shadow: 0 0 5px #5cd053;
	border-bottom: 2px solid #28921f;
}
.login-form .content_r .input:focus:invalid:focus:invalid {
	background: rgba(255,255,255,1.0);
	box-shadow: 0 0 5px #d45252;
	border-bottom: 2px solid #b03535;
}

/* === Form hints === */
.form_hint{
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	top: 259px;
	left: 273px;
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color: #d45252;
	position: absolute;
	top: 0px;
	left: -7px;
}

#form_hint_user{
	top: 82px;
	left: 273px;
}
#form_hint_email{
	top: 136px;
	left: 273px;
}
#form_hint_password{
	top: 190px;
	left: 273px;
}
#form_hint_password_confirmation {
	top: 242px;
	left: 273px;
}


#form_signup_hint_email {
	top: 94px;
	left: 273px;
}
#form_signup_hint_password {
	top: 148px;
	left: 273px;
}

.login-form .content_r .input:focus + #form_hint_user {display: inline;}
.login-form .content_r .input:required:valid + #form_hint_user {background: #28921f;}
.login-form .content_r .input:required:valid + #form_hint_user::before {color:#28921f;}

.login-form .content_r .input:focus + #form_hint_email {display: inline;}
.login-form .content_r .input:required:valid + #form_hint_email {background: #28921f;}
.login-form .content_r .input:required:valid + #form_hint_email::before {color:#28921f;}

.login-form .content_r .input:focus + #form_hint_password {display: inline;}
.login-form .content_r .input:required:valid + #form_hint_password {background: #28921f;}
.login-form .content_r .input:required:valid + #form_hint_password::before {color:#28921f;}

.login-form .content_r .input:focus + #form_hint_password_confirmation {display: inline;}
.login-form .content_r .input:required:valid + #form_hint_password_confirmation {background: #28921f;}
.login-form .content_r .input:required:valid + #form_hint_password_confirmation::before {color:#28921f;}


.login-form .content_login .input:focus + #form_signup_hint_email {display: inline;}
.login-form .content_login .input:required:valid + #form_signup_hint_email {background: #28921f;}
.login-form .content_login .input:required:valid + #form_signup_hint_email::before {color:#28921f;}

.login-form .content_login .input:focus + #form_signup_hint_password {display: inline;}
.login-form .content_login .input:required:valid + #form_signup_hint_password {background: #28921f;}
.login-form .content_login .input:required:valid + #form_signup_hint_password::before {color:#28921f;}

.error_msg {
	color: rgba(255, 0, 0, .8) !important;
}
.success_msg {
	color: rgba(0, 100, 0, 1) !important;
}