*{
	margin: 0;
	padding: 0;
}
body{
	background: #256578;
	font-family: Sans-serif; /* Geneva */
}
/*
04.12.16
********* F L E X

*/
/****************************_POSITION CONTAINER (nb&content)_******/
.layout {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 8%;
	overflow-y: auto;
}
.wrapper{
	margin: 0 auto;
	width: 60%;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	box-sizing: border-box;
}
.flex-element{
	height: auto;

	flex: 1 1 auto; /* -grow -shrink -basis*/
	justify-content: space-between;
}
/****************************_POSOTION NB_**************************/
.nb{
	height: 100vh;
	width: 8%;

	position: fixed;
	flex-direction: column;

	background: #fff;
	border-right: 1px solid #ddd;

	z-index: 4;
}
/******************************FILTER*********************************/
.filter{
	height: 100vh;
	width: 17%;
	padding: 10px 10px;

	position: fixed;
	top: 0;
	left: -9%;
	flex-direction: column;
	z-index: 3;

	background: #F0F4F0;

	font-size: 12px;
	font-family: 'Georgia', 'Geneva';

	transition: .3s ease;
}
.shadow-content {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;

	background: rgba(0, 0, 0, .4);
	z-index: 2;

	display: none;
	opacity: 0;

	transition: .4s ease;
}
.shadow-content:hover {
	background: rgba(0, 0, 0, .3);
}
p.enter-site{
	margin-top: 5px;

	font-size: 12px;
	font-weight: 600;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	color: #213514;
}
input.input-add-site{
	width: 95%;
	margin: 0px 0px 10px auto;
	padding: 3px;
	font-size: 12px;
	font-family: 'Bree Serif', serif;
	font-weight: 600;
	box-sizing: border-box;
	border: 1px solid #AAA;
	border-radius: 2px;
}
input.input-add-site:focus{
	box-shadow: inset 0 0 1px rgba(0,0,0,.15);
	border: 1px solid #299A41;
	box-sizing: border-box;
}
.button-add-site{
	width: 40%;
	margin-bottom: 5px;

	background: #98D555;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Bree Serif', serif;
	color: #354F1A;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
}
.button-add-site:hover {
	background: #78B535;
}
.help_message {
	width: 100%;
	height: 10px;
	margin-bottom: 22px;

	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	font-family: Arial;
}
.list-site .site {
	font-size: 14px;
	text-decoration: none;
	color: #92A094;

	cursor: pointer;
}
.list-site .site:hover {
	text-decoration: underline;
}
.name-site {
	padding: 0;
	margin: 8px 0 0 0;

	text-align: left;
	font-family: 'Bree Serif', serif;
	color: #213514;
	font-size: 14px;
	line-height: 13px;

	cursor: pointer;
}

/*******************************************END FILTER*********/
.ib {
	width: 100%;
	height: 33.3%;
	margin: auto;
	position: relative;
	text-align: center;

	flex-grow: 0;
	display: flex;
	justify-content: center;
  	flex-direction: column;

	transition: .2s ease;
	cursor: pointer;
}
.ib:hover {
	background: rgba(0, 255, 0, .2);
}
.ib_active {
	background: rgba(0, 255, 0, .1);
}
#logout_button:hover {
	background: rgba(255, 0, 0, .1);
}
#logout_button:hover span.glyphicon-off {
	color: rgb(255, 120, 120);
}
/****************************_CONTENT_******************************/
.article{
	padding: 15px 10px 0px 10px;

	height: auto;
	min-width: 250px;
	min-height: 110px;
	/*max-height: 40%;*/
	position: relative;

	flex-basis: 80%;
	justify-content: center;

	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.loading_bar {
	position: absolute;
	
	visibility: hidden;
}
.layout .loading_bar {
	margin: 60px auto;
	left: 0;
	right: 0;
}
.filter .loading_bar {
	margin-top: -36px;
	right: 25px;
}
/*

********* T H E _ E N D _ O F _ F L E X

*/
/*

********* S T Y L E

*/
/****************************_BOOTSTRAP ICON STYLE******************/
span.glyphicon{
	font-size: 26px;
	color: rgb(101, 178, 89);
	position: relative;

	transition: .3s ease;
}
span.glyphicon-off{
	color: rgb(255, 160, 160);
}
span.glyphicon-chevron-right{
	position: absolute;
	top: 7px;
	left: 25px;

	font-size: 16px;
}

/*****************************_STYLE ARTICLE**********************************/

.content img {
	max-width: 100% !important;
	max-height: 100% !important;

	float: right !important;
	display: inline-block !important;
	margin: 5px 0 0px 20px;
}
.description {
	width: 100%;
	max-height: 100%;
	display: inline-block;
}
.article.flex-container{
	margin: 0;
}
.content {
	width: 100%;
	padding: 5px 0;
	/*flex-basis: 70%;*/

	font-family: 'Georgia', 'Geneva';
	font-weight: 500;
	color: #3A4631;
}
.content p {
	font-weight: bold;
	margin-bottom: 5px;
}
.c {
	width: 100%;
	margin: 0 auto;

	background: #fff;
}
.article h3{
	padding: 0;
	margin: 0;

	text-align: left;
	font-family: 'Bree Serif', serif;
	color: #213514;
}
.info{
	margin-top: -3px;
	margin-bottom: 5px;
	padding: 0;

	color: #92A094;

	font-size: 12px;
}
.content .site {
	text-decoration: none;
	color: #92A094;
	cursor: pointer;
}
.content .site:hover {
	text-decoration: underline;
}
.read-more {
	display: block;
	margin-top: 7px;
	color: #65B259;
	text-decoration: none;
}
.read-more:hover{
	color: #5ECC4D;
}
/***************************ACCOUNT*/
.user{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	border-bottom: 2px solid #ccc;
	background: #49B938;
	font-family: 'Bree Serif', serif;
}
.emb-user{
	width: 10%;
	height: auto;
	margin-left: 44%;
	margin-top: 15px;
	box-sizing: border-box;
}
.info-user{
	text-align: center;
	color: #fff;
	margin-top: -10px;
	font-weight: 500;
	font-size: 24px;
}
.tab{
	padding-left: 30%;
	margin-top: 15px;
	font-size: 18px;
	color: #008000;
}
.tab-a{
	color: #008000;
	margin-left: 35px;
	padding: 5px;

}
.tab-a:hover{
	text-decoration: none;
	color: #238F23;
}
.active{
	border-bottom: 2px solid #008000;
}
.article-user{
	margin-top: 30%;
	width: 100%;
	height: 500px;
	background: #fff;
	font-size: 18px;
	font-family: 'Georgia', 'Geneva';
	border:  none;
}

.starting_help_arrow_img {
	width: 22%;
	height: 20vh;
	margin: 9vh 0 0 8%;
	position: absolute;

	background-image: url('../sources/help_arrow.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;

	display: none;
	opacity: 0;

	transition: 1.5s ease;
}
.starting_help_message {
	margin: 13vh 0 0 32%;
	position: absolute;
	font-size: 3.2vh;
	font-weight: bold;

	font-family: Arial, sans-serif;

	display: none;
}

.next_page_button {
	width: 200px;
	height: 40px;
	display: block;
	margin: 10px auto;
	left: 0;
	right: 0;

	border-radius: 10px;
	background: rgba(0, 225, 7, .3);
	box-shadow: inset 0 8px 25px -5px rgba(0, 135, 18, .3);
	outline: none;

	text-align: center;
	font-size: 17px;
	color: rgb(0, 135, 30);
	font-weight: bold;

	transition: .2s ease;
}
.next_page_button:hover {
	background: rgba(0, 225, 7, .5);
}

.username_block {
	width: auto;
	max-width: 16%;

	height: 30px;
	position: absolute;
	top: 5px;
	right: 25px;

	font-size: 11px;
}
.username_block span {
	font-size: 15px;
	font-weight: bold;
}